<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		
	</listeners>

  <test name="Test">
    <classes>
      <class name="com.quantInsti.base.TestBase"/>
      <class name="com.quanInsti.tests.LoginPage"/>
      <class name="com.quanInsti.tests.CoursePage"/>
      <class name="com.quanInsti.tests.CartPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
